*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}



body{

background:#0f172a;
color:white;

}



nav{

height:80px;

display:flex;

justify-content:space-around;

align-items:center;

background:#111827;

position:sticky;

top:0;

z-index:10;

}



.logo{

color:#ff8c3a;

font-size:25px;

}



ul{

display:flex;

gap:30px;

list-style:none;

}



li{

cursor:pointer;

}



li:hover{

color:#ff8c3a;

}
nav a{

text-decoration:none;
color:white;

}


nav a:hover{

color:#ff8c3a;

}







.hero{


min-height:90vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:70px 10%;

gap:50px;


}




.hero-text{

width:50%;

}




.hero-text h1{

font-size:55px;

color:#ff8c3a;

}



.hero-text p{

font-size:18px;

line-height:1.7;

margin:25px 0;

color:#cbd5e1;

}



button{

padding:15px 35px;

border:none;

border-radius:30px;

background:#ff8c3a;

font-size:16px;

}





.hero-image img{


width:450px;

border-radius:40px;

box-shadow:0 0 30px #ff8c3a;


}







.impact{

padding:80px 10%;

text-align:center;

}



.impact-cards{

display:flex;

gap:30px;

margin-top:40px;

justify-content:center;

flex-wrap:wrap;

}



.impact-cards div{


background:#1e293b;

padding:30px;

width:300px;

border-radius:25px;


}






.team{

padding:80px 10%;

}



.team h1{

text-align:center;

font-size:40px;

color:#ff8c3a;

}



.subtitle{

text-align:center;

margin:20px;

color:#cbd5e1;

}






.member{


display:flex;

align-items:center;

gap:60px;

margin:70px 0;

background:#1e293b;

padding:35px;

border-radius:30px;


}





.member.reverse{

flex-direction:row-reverse;

}




.member img{


width:300px;

height:400px;

object-fit:cover;

border-radius:30px;



}




.member-info{


flex:1;

}



.member-info h2{

font-size:32px;

color:#ff8c3a;

}



.member-info h3{

margin:15px 0;

color:#34d399;

}



.member-info p{

font-size:18px;

line-height:1.7;

color:#cbd5e1;

}





footer{

background:#020617;

text-align:center;

padding:40px;

color:#cbd5e1;

}







@media(max-width:800px){


.hero,
.member,
.member.reverse{


flex-direction:column;

}



.hero-text{

width:100%;

}


.member img{

width:100%;

}


ul{

display:none;

}


}



/* about page */

/* ABOUT PAGE */


.about-hero{

min-height:90vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:80px 10%;

gap:50px;

}




.about-text{

width:50%;

}



.about-text h1{

font-size:50px;

color:#ff8c3a;

margin-bottom:25px;

}



.about-text p{

font-size:18px;

line-height:1.8;

color:#cbd5e1;

margin-bottom:20px;

}




.about-image img{


width:450px;

border-radius:40px;

box-shadow:0 0 30px #ff8c3a;


}









.vision{


padding:80px 10%;

text-align:center;


}



.vision h1{

font-size:40px;

color:#ff8c3a;

}





.about-cards{


display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

flex-wrap:wrap;


}





.about-card{


background:#1e293b;

width:300px;

padding:35px;

border-radius:25px;

transition:.3s;


}




.about-card:hover{


transform:translateY(-10px);


}





.about-card h2{


color:#ff8c3a;

margin-bottom:15px;


}





.about-card p{


color:#cbd5e1;

line-height:1.7;


}









.story{


padding:80px 15%;

text-align:center;

background:#111827;


}



.story h1{


color:#ff8c3a;

font-size:40px;

margin-bottom:30px;


}




.story p{


color:#cbd5e1;

font-size:18px;

line-height:1.8;

margin-bottom:20px;


}










@media(max-width:800px){


.about-hero{

flex-direction:column;

}



.about-text{

width:100%;

}



.about-image img{

width:100%;

}


}


/* rescue page */

/* RESCUE PAGE */



.rescue-hero{


min-height:90vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:80px 10%;

gap:50px;


}





.rescue-content{


width:50%;


}




.rescue-content h1{


font-size:50px;

color:#ff8c3a;

margin-bottom:25px;


}





.rescue-content p{


font-size:18px;

line-height:1.8;

color:#cbd5e1;

margin-bottom:30px;


}






.rescue-content button{


background:#ff8c3a;

padding:15px 35px;

border:none;

border-radius:30px;

cursor:pointer;


}








.rescue-image img{


width:450px;

border-radius:40px;

box-shadow:0 0 30px #ff8c3a;


}


#locationResult{

margin-top:20px;

color:#34d399;

font-size:16px;

line-height:1.7;

}


#locationResult a{

color:#ff8c3a;

text-decoration:none;

}







.rescue-process{


padding:80px 10%;

text-align:center;


}





.rescue-process h1{


font-size:40px;

color:#ff8c3a;


}







.rescue-cards{


display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

flex-wrap:wrap;


}








.rescue-card{


width:300px;

background:#1e293b;

padding:35px;

border-radius:25px;


}





.rescue-card h2{


color:#ff8c3a;

margin-bottom:15px;


}




.rescue-card p{


color:#cbd5e1;

line-height:1.7;


}









.report-section{


background:#111827;

padding:80px 10%;

text-align:center;


}






.report-section h1{


color:#ff8c3a;

font-size:40px;

margin-bottom:40px;


}







form{


max-width:500px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;


}







input,
textarea,
select{


padding:15px;

border-radius:10px;

border:none;

font-size:16px;


}





textarea{


height:120px;

resize:none;


}






form button{


background:#ff8c3a;

cursor:pointer;


}










@media(max-width:800px){


.rescue-hero{


flex-direction:column;


}



.rescue-content{


width:100%;


}



.rescue-image img{


width:100%;


}



}

/* adoption page */


/* ADOPTION PAGE */


.adoption-header{

padding:80px 10%;

text-align:center;

}


.adoption-header h1{

font-size:50px;

color:#ff8c3a;

}



.adoption-header p{

font-size:18px;

color:#cbd5e1;

margin-top:20px;

}







.filter{

text-align:center;

margin-bottom:40px;

}



.filter button{

margin:10px;

cursor:pointer;

}









.animals{


display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

padding:40px 10%;


}





.animal-card{


background:#1e293b;

width:300px;

border-radius:25px;

overflow:hidden;

text-align:center;

padding-bottom:25px;


}




.animal-card img{


width:100%;

height:230px;

object-fit:cover;


}





.animal-card h2{


color:#ff8c3a;

margin:15px;


}





.animal-card p{


color:#cbd5e1;

padding:0 20px;

line-height:1.6;


}







.animal-card button{


margin-top:20px;

cursor:pointer;


}



/* VOLUNTEER PAGE */


.volunteer-hero{

min-height:90vh;

padding:80px 10%;

display:flex;

align-items:center;

justify-content:space-between;

gap:50px;

}



.volunteer-hero h1{

font-size:50px;

color:#ff8c3a;

}



.volunteer-hero p{

color:#cbd5e1;

font-size:18px;

line-height:1.8;

margin-top:25px;

}




.volunteer-image img{

width:450px;

border-radius:40px;

box-shadow:0 0 30px #ff8c3a;

}








.roles{

padding:80px 10%;

text-align:center;

}



.roles h1{

color:#ff8c3a;

font-size:40px;

}





.role-cards{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-top:40px;

}





.role-card{

background:#1e293b;

width:300px;

padding:35px;

border-radius:25px;

}



.role-card h2{

color:#ff8c3a;

}



.role-card p{

color:#cbd5e1;

line-height:1.6;

margin-top:15px;

}










.volunteer-form{

background:#111827;

padding:80px 10%;

text-align:center;

}



.volunteer-form h1{

color:#ff8c3a;

margin-bottom:40px;

}



.volunteer-form form{

max-width:500px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}



.volunteer-form input,
.volunteer-form select{


padding:15px;

border-radius:10px;

border:none;

font-size:16px;

}



.volunteer-form button{

cursor:pointer;

background:#ff8c3a;

}







@media(max-width:800px){


.volunteer-hero{

flex-direction:column;

}



.volunteer-image img{

width:100%;

}


}





/* CONTACT PAGE */


.contact-hero{

padding:90px 10%;

text-align:center;

}



.contact-hero h1{

font-size:50px;

color:#ff8c3a;

}



.contact-hero p{

color:#cbd5e1;

font-size:18px;

margin-top:20px;

line-height:1.7;

}








.contact-cards{

display:flex;

justify-content:center;

gap:30px;

padding:50px 10%;

flex-wrap:wrap;

}





.contact-card{


background:#1e293b;

width:300px;

padding:35px;

border-radius:25px;

text-align:center;


}




.contact-card h2{

color:#ff8c3a;

margin-bottom:15px;

}



.contact-card p{

color:#cbd5e1;

line-height:1.6;

}





/* LOCATION MAP */


.location-section{


padding:80px 10%;

text-align:center;


}



.location-section h1{


font-size:40px;

color:#ff8c3a;

margin-bottom:20px;


}




.location-section p{


color:#cbd5e1;

font-size:18px;

margin-bottom:40px;


}





.map-container{


width:100%;

height:450px;

border-radius:30px;

overflow:hidden;

box-shadow:0 0 30px #ff8c3a;


}




.map-container iframe{


width:100%;

height:100%;

border:0;


}




@media(max-width:800px){


.map-container{

height:300px;

}


}





.message-section{


background:#111827;

padding:80px 10%;

text-align:center;


}






.message-section h1{

color:#ff8c3a;

font-size:40px;

margin-bottom:40px;

}





.message-section form{


max-width:500px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;


}







.message-section input,
.message-section textarea{


padding:15px;

border:none;

border-radius:10px;

font-size:16px;


}




.message-section textarea{


height:130px;

resize:none;


}




.message-section button{


background:#ff8c3a;

cursor:pointer;

}









@media(max-width:800px){


.contact-cards{

flex-direction:column;

align-items:center;

}



.contact-card{

width:100%;

}


}




/* team page */
/* TEAM INTRO */


.team-intro{

padding:90px 15%;

text-align:center;

}



.team-intro h1{

font-size:50px;

color:#ff8c3a;

margin-bottom:30px;

}



.team-intro p{

color:#cbd5e1;

font-size:18px;

line-height:1.8;

margin-bottom:20px;

}




.team-container{


padding:60px 10%;


display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;


}






.team-card{


background:#1e293b;

border-radius:30px;

overflow:hidden;

text-align:center;

padding-bottom:30px;

transition:.3s;


}






.team-card:hover{


transform:translateY(-10px);


}







.team-card img{


width:100%;

height:320px;

object-fit:cover;


}





.team-card h2{


color:#ff8c3a;

margin-top:20px;


}





.team-card h3{


color:#34d399;

margin:15px;


}





.team-card p{


color:#cbd5e1;

padding:0 25px;

line-height:1.7;


}







/* TEAM MISSION */


.team-mission{


background:#111827;

padding:80px 10%;

text-align:center;


}



.team-mission h1{

color:#ff8c3a;

font-size:40px;

}



.team-mission>p{


color:#cbd5e1;

font-size:18px;

line-height:1.7;

margin:30px;


}





.mission-box{


display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}





.mission-box div{


background:#1e293b;

padding:30px;

width:280px;

border-radius:25px;


}



.mission-box h2{

color:#34d399;

margin-bottom:15px;

}



.mission-box p{

color:#cbd5e1;

}








@media(max-width:800px){


.mission-box{

flex-direction:column;

align-items:center;

}


}





/* learning page */

/* LEARNING CENTER */


.learning-hero{

padding:90px 10%;

text-align:center;

}



.learning-hero h1{

font-size:50px;

color:#ff8c3a;

}



.learning-hero p{

color:#cbd5e1;

font-size:18px;

margin-top:20px;

}








.learning-cards{


display:flex;

justify-content:center;

gap:30px;

padding:60px 10%;

flex-wrap:wrap;


}





.learn-card{


background:#1e293b;

width:300px;

padding:35px;

border-radius:25px;

}



.learn-card h2{

color:#ff8c3a;

margin-bottom:15px;

}




.learn-card p{

color:#cbd5e1;

line-height:1.6;

}




.learn-card a{


color:#34d399;

text-decoration:none;

}








.resources{


background:#111827;

padding:80px 10%;

text-align:center;


}



.resources h1{

font-size:40px;

color:#ff8c3a;

}





.resource-box{


background:#1e293b;

padding:35px;

margin:30px auto;

max-width:600px;

border-radius:25px;


}



.resource-box h2{

color:#34d399;

}



.resource-box p{

color:#cbd5e1;

line-height:1.7;

}




.resource-box a{

color:#ff8c3a;

font-weight:bold;
text-decoration:none;

}





@media(max-width:800px){


.learning-cards{

flex-direction:column;

align-items:center;

}


}